{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="http://120.24.73.68/css/main.css">
    <link rel="stylesheet" type="text/css" href="http://120.24.73.68/css/process.css">
    <link rel="shortcut icon"  type="image/x-icon" href="http://120.24.73.68/favicon.ico" />
    </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
<style type="text/css" class=" background-image am-kai row-fluid">
body{
    background-image:url(http://120.24.73.68/images/upload/index.jpg);
    background-size:100%;}
</style>
<div class="box01_content">
                <div class="head_div">
					<div class="cycle_item">
                        <div class="green_cycle">
                            <img class="green_cycle_img" src="http://120.24.73.68/images/icon/green_cycle.svg">
                            <div class="yellow_cycle">
                                <img class="yellow_cycle_img" src="http://120.24.73.68/images/icon/yellow_cycle.svg">
                                <div class="blue_cycle">
                                    <img class="blue_cycle_img" src="http://120.24.73.68/images/icon/blue_cycle.svg">
                                    <div class="head_img_div">
                                        <img class="head_img" src="http://120.24.73.68/images/upload/pic_1.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
                </div>
                <div id="box01_text">
                </div>
            </div>
             </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
 </br>
{% endblock %}